// form apikey textarea
textarea#use {
    resize: none;
}

.btn-brainlamp {
    background: $color-purple;
    box-shadow: 0 5px 40px 0 rgba($header-bg, .10);
    color: #fff;
    &:hover{
      background: darken($color-purple, 5%);
      box-shadow: none;
      color: #fff;
    }
  }

.input-radio-brainlamp::after {
    background-color: $color-purple;
}

.social-brainlamp {
	a {
		background: #feecf4;
		color: #dd95c1;
		&:hover{
			color: $color-purple;
			background: #feecf5;
		}
	}
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: $gray-800;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.header-shadow {
    box-shadow: 0 3px 20px 0 rgba(167, 71, 71, 0.1);
}